@font-face {
  font-family: 'arrow';
  src:  url('fonts/arrow.eot?cqqlnb');
  src:  url('fonts/arrow.eot?cqqlnb#iefix') format('embedded-opentype'),
    url('fonts/arrow.ttf?cqqlnb') format('truetype'),
    url('fonts/arrow.woff?cqqlnb') format('woff'),
    url('fonts/arrow.svg?cqqlnb#arrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'arrow' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-prev10:before {
  content: "\e900";
}
.icon-next10:before {
  content: "\e901";
}
.icon-KT_arrow_round_left_24:before {
  content: "\e902";
}
.icon-KT_arrow_round_right_24:before {
  content: "\e903";
}
.icon-baseline-chevron_left-24px:before {
  content: "\e904";
}
.icon-baseline-chevron_right-24px:before {
  content: "\e905";
}
.icon-baseline-arrow_back-24px:before {
  content: "\e906";
}
.icon-baseline-arrow_forward-24px:before {
  content: "\e907";
}
.icon-close1:before {
  content: "\e908";
}
.icon-open1:before {
  content: "\e909";
}
.icon-close2:before {
  content: "\e90a";
}
.icon-open2:before {
  content: "\e90b";
}
.icon-backward21:before {
  content: "\ea21";
}
.icon-forward31:before {
  content: "\ea22";
}
.icon-arrow-right1:before {
  content: "\ea35";
}
.icon-arrow-left1:before {
  content: "\ea39";
}
.icon-arrow-right21:before {
  content: "\ea3d";
}
.icon-arrow-left21:before {
  content: "\ea41";
}
.icon-close3:before {
  content: "\ea42";
}
.icon-circle-right1:before {
  content: "\ea43";
}
.icon-open3:before {
  content: "\ea44";
}
.icon-circle-left1:before {
  content: "\ea45";
}
